@media (min-width: 1000px) {

.fondo { 

	background: url(../img/blob.svg);
	background-repeat: no-repeat;
	background-position-x: 800px;
	background-position-y: -850px;
	animation: mymove 30s infinite;
	

}

@keyframes mymove {
	50% {background-position: center;}
  }

	#header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0px 140px;
	width: 100%;

}


.overlay {
	display:none;
}

.verticalNav {
	display:none;
}

#header nav ul li {
	display: inline-block;	
}

#header nav ul li a {
	text-decoration: none;
	margin-right: 15px;
}


#header nav ul li a:hover {	
	color: tomato;	
}

/* #header span {
	border-radius: 350px 0px 0px 300px;
	position: absolute;
	top: 80px;
	right: -0px;
	z-index: -100;
	background-color: #f6f7f8;
	width: 650px;
	height: 450px;
	transform: rotate(0deg);
	
} */

#header img {
	width: 150px;
}





#mainContent {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: left;
	padding: 0px 140px;
}

.parrafoPrincipal {
	margin-top:30px;
}


#secondContent {
	display: flex;
	flex-direction: row;
	/* justify-content: center; */
	gap: 10px;
	align-items: center;
	margin: 100px 0px 100px 0px;
	padding: 0px 140px;
}

#secondContent div {
	width: 360px;
	height: 200px;
	
	
}

#footerStyle {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-evenly;
	width: 100%;		
	background-color: #f6f7f8;
	/* padding: 25px 50px 25px 50px; */
	padding: 0px 140px;
}

#footerStyle img {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.footerLinksNav {
	margin-bottom: 15px;
	color: rgb(52, 51, 72);
	width: auto;
	text-align: left;
}

.footerLinksLegal {
	margin-bottom: 15px;
	color: rgb(52, 51, 72);
	width: auto;
	text-align: left;
}



#footerStyle p a {
	margin-bottom: 15px;
	font-size: 14px;
}

#preFooter {
	justify-content: start;
	padding: 40px 255px;
}

.alinear { 
    margin-top:40px;

}

/*imagenes*/

.imgPrincipal {
	width: 600px;
	max-width: 600px;
	margin-top: 0px;
}


/*imagenes*/

/*fonts*/

.titSize {
	font-size: 3.5rem;
	line-height: 3rem;
}

.regularSize {
	font-size: 1.5rem;
	color: rgb(106, 117, 135);
	margin-bottom: 15px;
	display: inherit;
}

.roboOextravio {
	background-color: rgb(97 74 217 / 10%);
	padding: 15px;
	border-radius: 5px;
}

/*fonts*/

.Copyright {
    padding: 50px;
}



}