@media (min-width: 1000px) {

.fondo { 
	background: url(../img/blob.svg);
	background-repeat: no-repeat;
	background-position-x: 800px;
	background-position-y: -850px;
	animation: mymove 30s infinite;
}

@keyframes mymove {
	50% {background-position: center;}
}

#header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0px 140px;
	width: 100%;
}

/*OCULTANDO MENU HAMBURGUESA*/
.overlay {
	display:none;
}

.verticalNav {
	display:none;
}
/*OCULTANDO MENU HAMBURGUESA*/


#header nav ul li {
	display: inline-block;	
}

#header nav ul li a {
	text-decoration: none;
	margin-right: 15px;
}

#header nav ul li a:hover {	
	color: tomato;	
}

#header img {
	width: 150px;
}

#mainContent {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: left;
	padding: 0px 140px;
}

.parrafoPrincipal {
	margin-top:30px;
}

#secondContent {
	display: flex;
	flex-direction: row;	
	gap: 10px;
	align-items: center;
	margin: 100px 0px 100px 0px;
	padding: 0px 140px;
}

#secondContent div {
	width: 360px;
	height: 200px;	
}

#preFooter {
	justify-content: start;
	padding: 40px 255px;
}

#footerStyle {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-evenly;
	width: 100%;		
	background-color: #f6f7f8;	
	padding: 0px 140px;
}

#footerStyle img {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

#footerStyle p a {
	margin-bottom: 15px;
	font-size: 14px;
}

.footerLinksNav {
	margin-bottom: 15px;
	color: rgb(52, 51, 72);
	width: auto;
	text-align: left;
}

.footerLinksLegal {
	margin-bottom: 15px;
	color: rgb(52, 51, 72);
	width: auto;
	text-align: left;
}

.alinearLeyendaFooter { 
    margin-top:40px;
}


/*ESTILOS PARA IMAGENES*/
.imgPrincipal {
	width: 600px;
	max-width: 600px;
	margin-top: 0px;
}
/*ESTILOS PARA IMAGENES*/

/*ESTILOS PARA FONTS*/
.titSize {
	font-size: 3.5rem;
	line-height: 3rem;
}

.regularSize {
	font-size: 1.5rem;
	color: rgb(106, 117, 135);
	margin-bottom: 15px;
	display: inherit;
}

.roboOextravio {
	background-color: rgb(97 74 217 / 10%);
	padding: 15px;
	border-radius: 5px;
}
/*ESTILOS PARA FONTS*/

.Copyright {
    padding: 50px;
}


}